@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Love+Ya+Like+A+Sister&display=swap');

* {
  box-sizing: border-box;
}

h1  {
  background-color: rgb(51, 153, 255, 0.5);
  background-blend-mode: multiply;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  letter-spacing: 5px;
}

h3 {
  font-size: 35px;
  letter-spacing: 7px;
  margin-bottom: 20px;
}

hr {
    width: 80%;
    height: 10px;
    background-color: white;
    border-radius: 8px;
}

body {
  text-align: center;
  background-image: url("https://wallpapercave.com/wp/wp4892340.jpg");
  background-size: cover;
  font-family: "Amatic SC", cursive;
  font-size: 30px;
  color: white;
}

.form
{
    display: flex;
    height:400px;
    font-size:30pt;
    font-family: "Amatic SC", cursive;
}

select {
  font-family: "Amatic SC", cursive;
  display: inline;
}

button {
  size: medium;
  border-style: double;
  border-color: white;
  border-width: thick;
  color: white;
  background-color: transparent;
  font-size: 30px;
  border-radius: 30px;
  transition: 0.3s;
}

input {
    margin-left: 2%;
  padding: 5px 10px;
  display: inline-block;
  width: 30%;
  text-align: left;
  border-radius: 30px;
  border-style: solid;
}

select {
    margin-left: 2%;
    padding: 5px 10px;
  display: inline-block;
  width: 30%;
  text-align: left;
  border-radius: 30px;
  border-style: solid;
}

label {
  display: inline-block;
  width: 30%;
  text-align: right;
}

button:hover {
  background-color: #3399ff;
  transition: 0.3s;
}

.circle {
  position: fixed;
  top: calc(50% - 50px);
  right: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  margin: auto;
  padding: 150px;
  border-width: 40px;
  border-style:double;
  border-color: rgb(255, 239, 189, 0.5);
  text-align: center;
  justify-content: center;
  background-color: #ffe590;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation-name: breathe;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


@keyframes breathe {
  0% {padding: 100px;}
  15% {padding: 115px;}
  25% {padding: 125px;}
  50% {padding: 150px;}
  75% {padding: 125px;}
  85% {padding: 115px;}
  100% {padding: 100px;}
}

p {
  margin-left: -60px;
  margin-top: -60px;
  text-align:center;
  position: inherit;
  font-size: 40px;
  color: #3399ff;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url("https://wallpapercave.com/wp/wp4892340.jpg");
    background-position: center;
    background-attachment: fixed;
    font-size: 20px;
    display: inline-block;
  }
  label {
    width: 40%;
  }
  select {
    width: 40%;
  }
  input {
    width: 40%;
  }
  }
